<div class="posts">
  <ul class="media-list">
    <li class="media post" ng-repeat="post in posts" ng-class="{edit: post.isEditing}">
      <ul class="list-group">
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>{{post.content.network}} - {{post.content.postType}}</h3>
              <button class="delete-button btn btn-danger" ng-click="deletePost(post.id)">
              delete</button>
            </div>
            <div class="panel-body">
              <img class="post-image" ng-src="{{post.content.media.url}}"
                   alt="{{post.content.media.fileName}}" />
            </div>
            <div class="panel-body">
              <p>{{post.scheduled | date}}</p>
              <h3 class="media-heading">{{post.content.message}}</h3>
            </div>
            <div class="panel-body">
            <div class="btn-group btn-group-justified">
              <a class="btn btn-info"
              ng-click="isCollapsed = !isCollapsed">More info</a>
            <a class="btn btn-warning" ng-click="editPost(post)">Edit</a>
            </div>
            <div collapse="!isCollapsed" class="table">
            <hr />
              <table>
                <tbody>
                  <tr>
                    <td>status</td><td>{{post.status}}</td>
                  </tr>
                  <tr>
                    <td>tags</td>
                    <td>{{post.tags}}</td>
                  </tr>
                  <tr>
                    <td>channels</td>
                    <td>{{post.channels}}</td>
                  </tr>
                  <tr>
                    <td>countries</td>
                    <td>{{post.geo.countries}}</td>
                  </tr>
                  <tr>
                    <td>languages</td>
                    <td>{{post.geo.languages}}</td>
                  </tr>
                  <tr>
                    <td>cities</td>
                    <td>{{post.geo.cities}}</td>
                  </tr>
                  <tr>
                    <td>regions</td>
                    <td>{{post.geo.regions}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>


